body{
    font-family: 'Josefin Sans',
    sans-serif;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-bottom: 24px;
}
.avatar {
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 0px 0px;
}
.button{
    background-color: black;
    color: white;
    padding: 14px 18px;
    text-decoration: none;
}
.container{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.7), rgb(255, 255, 255, 0.3)), 
        url('./images/sebastian-svenson-LpbyDENbQQg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: inherit;
    min-height: 100vh;
    padding: 42px;
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    .name{
        font-size: 36px;
    }
}

.contact{
    margin-bottom: 48px;
}
.contact-item{
    margin-bottom: 12px;
}
.contact-icon{
    margin-right: 12px;
    width: 16px;
}
.content{
    max-width: 600px;
}
.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.name{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
